
/* =======================================
   SCSS Variable declarations
   ======================================= */

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

/* =======================================
   Basic HTML elements and styling
   ======================================= */

html, body {
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 18px;
}

h1 {
	font-size: 2rem;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h2 {
	font-size: 1.6rem;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h3 {
	font-size: 1.4rem;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h4 {
	font-size: 1.2rem;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

p {
	padding: 0 0 10px 0;
	margin: 0 0 0 0;
}

hr {
	border: 0;
	height: 0;
	margin: 20px 0;
	border-bottom: $black 1px solid;
}




/* =======================================
   Color styling
   ======================================= */

.white{
	background-color: $white;
}

.white-f{
	color: $white;
}

.white-b{
	border-color: $white;
}

.black{
	background-color: $black;
}

.black-f{
	color: $black;
}

.black-b{
	border-color: $black;
}

/* =======================================
   Input and navigation styling
   ======================================= */

a {
	color: $black;
	text-decoration: none;

	&:focus,
	&:visited {
		color: $black;
		text-decoration: none;
	}

	&:hover {
		color: $black;
		text-decoration: none;
	}
}

nav {
	font-size: 0.8rem;
}

button,
a.button,
input[type="button"],
input[type="submit"],
input.button{
	font-size: 0.8rem;
	text-align: center;
	border: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: $white;
	background-color: $black;
	&:hover{
		color: $white;
		background-color: $black;
	}
}

input::-webkit-input-placeholder {
	color: $black !important;
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: $black !important;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: $black !important;
}

input:-ms-input-placeholder {
	color: $black !important;
}

textarea::-webkit-input-placeholder {
	color: $black !important;
}

textarea:-moz-placeholder {
	/* Firefox 18- */
	color: $black !important;
}

textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: $black !important;
}

textarea:-ms-input-placeholder {
	color: $black !important;
}
