/* =======================================
   Footer specific styling
   ======================================= */

footer{

	.authorship{
		font-size: 0.6rem;
		text-align: center;
		margin: 0 0 10px 0;
		padding: 0 20px;
	}
}