/* =======================================
   Page and Error 404 templates
   ======================================= */

.page {

}

.error404 {

}

/* =======================================
   Specific page templates
   ======================================= */

.page-id-0 {

}