/*
Theme Name: Custom bootstrap theme
Author: Združba IP, d.o.o.
Author URI: http://z-ip.eu
Description: This is a blank bootstrap 3.1.1 theme for wordpress.
Version: 1.1
License: GNU General Public License v2 or later
*/
@import "css/basic";

/* =======================================
   Sitewide styling
   ======================================= */

// Cover images, used on bootstrap columns
.cover {
    background-position: center center;
    background-size: cover;
    background-origin: content-box;
    background-clip: content-box;
    display: block;
    // height: 500px; // Used fixed height
    &:after {
        padding-top: 150%; // Set fixed height to width ratio
        display: block;
        content: '';
    }
}

/* =======================================
   FontAwsome styling
   ======================================= */

.fa {
    font-size: 23px;
}

/* =======================================
   Bootstrap overides
   ======================================= */

.no-col-padding {
    &, .row {
        margin-left: 0;
        margin-right: 0;
    }
    > *,
    .row > * {
        padding-left: 0;
        padding-right: 0;
    }
}

// Bootstrap breakpoints
@media(min-width: 1200px) {

}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 543px) {

}

/* =======================================
   Imports
   ======================================= */

@import "css/_editor";
@import "css/_header";
@import "css/_footer";
@import "css/_page";
@import "css/_frontpage";
@import "css/_blog";

