@charset "UTF-8";
/*
Theme Name: Custom bootstrap theme
Author: Zdru┼¥ba IP, d.o.o.
Author URI: http://z-ip.eu
Description: This is a blank bootstrap 3.1.1 theme for wordpress.
Version: 1.1
License: GNU General Public License v2 or later
*/
/* =======================================
   SCSS Variable declarations
   ======================================= */
/* =======================================
   Basic HTML elements and styling
   ======================================= */
html, body {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 18px; }

h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

h2 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

h3 {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

h4 {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

p {
  padding: 0 0 10px 0;
  margin: 0 0 0 0; }

hr {
  border: 0;
  height: 0;
  margin: 20px 0;
  border-bottom: black 1px solid; }

/* =======================================
   Color styling
   ======================================= */
.white {
  background-color: white; }

.white-f {
  color: white; }

.white-b {
  border-color: white; }

.black {
  background-color: black; }

.black-f {
  color: black; }

.black-b {
  border-color: black; }

/* =======================================
   Input and navigation styling
   ======================================= */
a {
  color: black;
  text-decoration: none; }
  a:focus, a:visited {
    color: black;
    text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: none; }

nav {
  font-size: 0.8rem; }

button,
a.button,
input[type="button"],
input[type="submit"],
input.button {
  font-size: 0.8rem;
  text-align: center;
  border: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: white;
  background-color: black; }
  button:hover,
  a.button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input.button:hover {
    color: white;
    background-color: black; }

input::-webkit-input-placeholder {
  color: black !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: black !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: black !important; }

input:-ms-input-placeholder {
  color: black !important; }

textarea::-webkit-input-placeholder {
  color: black !important; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black !important; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black !important; }

textarea:-ms-input-placeholder {
  color: black !important; }

/* =======================================
   Sitewide styling
   ======================================= */
.cover {
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  background-clip: content-box;
  display: block; }
  .cover:after {
    padding-top: 150%;
    display: block;
    content: ''; }

/* =======================================
   FontAwsome styling
   ======================================= */
.fa {
  font-size: 23px; }

/* =======================================
   Bootstrap overides
   ======================================= */
.no-col-padding, .no-col-padding .row {
  margin-left: 0;
  margin-right: 0; }
.no-col-padding > *,
.no-col-padding .row > * {
  padding-left: 0;
  padding-right: 0; }

/* =======================================
   Imports
   ======================================= */
/*Wordpress editor styles start*/
.entry-content img {
  margin: 0 0 1.5em 0; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone, img.alignnone {
  /* not sure about this one */ }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

/*Wordpress editor styles end*/
/* =======================================
   Header specific styling
   ======================================= */
/* =======================================
   Footer specific styling
   ======================================= */
footer .authorship {
  font-size: 0.6rem;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 20px; }

/* =======================================
   Page and Error 404 templates
   ======================================= */
/* =======================================
   Specific page templates
   ======================================= */
/* =======================================
   Front page styling
   ======================================= */
/* =======================================
   Blog styling
   ======================================= */

/*# sourceMappingURL=style.css.map */
