Version 1.0
By Gregor Sušanj

<h1>Piškotki</h1>

<h2>Pravna podlaga</h2>

Podlaga za sporočilo je spremenjeni Zakon o elektronskih komunikacijah (Uradni list 109/2012, v nadaljevanju ZEKom-1), ki je začel veljati na začetku leta 2013 ter je prinesel nova pravila glede uporabe piškotkov in podobnih tehnologij za shranjevanje informacij ali dostop do informacij, shranjenih na računalniku ali mobilni napravi uporabnika.

<h2>Kaj so piškotki</h2>
Piškotek (angl. cookie) je datoteka, ki shrani nastavitve spletnih strani. Spletna mesta piškotke shranijo v naprave
	uporabnikov, s katerimi dostopajo do interneta z namenom prepoznavanja posameznih naprav in nastavitev, ki so jih
	uporabniki uporabili pri dostopu. Piškotki omogočajo spletnim stranem prepoznavanje, če je uporabnik že obiskal to
	spletno mesto in pri naprednih aplikacijah se lahko z njihovo pomočjo ustrezno prilagodijo posamezne nastavitve.
	Njihovo shranjevanje je pod popolnim nadzorom brskalnika, ki ga uporablja uporabnik - ta lahko shranjevanje
	piškotkov po želji omeji ali onemogoči.

<h2>Zakaj so piškoti potrebni</h2>
Piškotki so temeljnega pomena za zagotavljanje uporabniku prijaznih spletnih storitev. Uporabljajo se za shranjevanje
	podatkov o stanju posamezne spletne strani (podrobnosti o prilagoditvah posamezne spletne strani), pomagajo pri
	izvajanju spletnih storitev (npr. spletne trgovine), pomagajo pri zbiranju statistik o uporabnikih in obiskanosti
	spletnega mesta, o navadah spletnega uporabnika , itd. S pomočjo piškotkov lahko torej ocenimo učinkovitost zasnove
	našega spletnega mesta.

<h2>Nadzor piškotov</h2>
Shranjevanje in upravljanje piškotkov je pod popolnim nadzorom brskalnika, ki ga uporablja uporabnik. Brskalnik lahko
	shranjevanje piškotkov po želji omeji ali onemogoči. Piškotke, ki jih je brskalnik shranil, lahko tudi enostavno
	izbrišete; za več informacij obiščite spletno stran <a href="http://www.aboutcookies.org/" target="_blank">www.aboutcookies.org</a>.


<h2>Piškotki, ki jih uporabljamo na tej spletni strani</h2>
<table>
	<thead>
	<tr>
		<th>Ime piškota</th>
		<th>Opis</th>
		<th>Veljavnost</th>
		<th>Domena</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>gsc_consent</td>
		<td>Piškotek za hranjenje nastavitev o sprejemanju piškotkov. (Potreben za delovanje strani)</td>
		<td>1 leto</td>
		<td>http://www.punpisker.si</td>
	</tr>
	</tbody>
</table>
