<div class="entry-content">

	<p>
		Na spletni strani so uporabnikom na voljo podatki in informacije pod pogoji, ki so navedeni v nadaljevanju.
	</p>

	<h1>Odgovornost</h1>
	<p>
		Uporabniki uporabljajo spletne strani na lastno odgovornost. Lastnik <!-- TODO: Insert owner full name --> (v nadaljnjem besedilu: lastnik) ne odgovarjajo za škodo, ki bi lahko nastala uporabniku spletne strani zaradi napačnega dostopa, napačne uporabe ali nemožnosti uporabe podatkov in informacij na spletni strani. Uporabniki spletne strani morajo sami zagotoviti ukrepe za varovanje svoje informacijske opreme, ki so potrebni za nemoten in varen dostop do podatkov (zaščita pred vdori, zaščita pred virusi in zlonamerno programsko opremo…).
	</p>
	<p>
		Za pravilnost, ažurnost in popolnost podatkov, ki jih vpisujejo uporabniki spletne strani, lastniki ne prevzemajo odgovornosti.
	</p>

	<h1>Varstvo osebnih podatkov</h1>
	<p>
		Ob uporabi spletne strani lahko uporabniki posredujejo lastnikom nekatere podatke (npr. osebno ime, svoj e-poštni naslov in telefonsko številko), ki jih lastniki uporabljajo zgolj za pravilno delovanje spletne strani in jih ne posredujejo tretjim osebam.
	</p>

	<h1>Povezave na spletne strani</h1>
	<p>
        Povezave na spletno stran oziroma osnovno stran in/ali posamezne podstrani so dovoljene, če se ne odstrani ali skrije oznak, znakov ali zapisov, ki so varovani skladno s predpisi o varovanju avtorske ali sorodnih pravic, in drugih obvestil na posamezni strani. V primeru zlorab lahko lastniki zahtevajo odstranitev povezave.
    </p>

	<h1>Dostopnost do spletnega portala</h1>
	<p>
        Lastniki v normalnih pogojih poslovanja zagotavljajo dostop do spletne strani neprekinjeno 24 ur dnevno. Zaradi tehničnih razlogov (za potrebe vzdrževanja in/ali zamenjave opreme) so možne krajše motnje dostopa ali prekinitve delovanja spletne strani.
    </p>

	<h1>Reševanje sporov</h1>
	<p>
        Morebitne spore zaradi uporabe borze v nasprotju z določbami Splošnih pogojev uporabe spletne strani si bodo lastniki prizadevali reševati po mirni poti. Kadar to ne bo mogoče, bo za reševanje sporov pristojno sodišče v Mariboru.
    </p>

	<h1>Vprašanja</h1>
	<p>
        Vprašanja v zvezi s Splošnimi pogoji uporabe spletne strani in druga vprašanja lahko uporabniki pošljejo na e-naslov <!-- TODO: Change email --><a href="mailto:info@example.com">info@example.com</a>.
    </p>
	<p>
        (veljavnost od 1. 6. 2015)
    </p>

</div>